/*
 * (c) copyright 2022-2024, takedanemuru <takeda.nemuru@protonmail.com>
 * SPDX-License-Identifier: GPL-3.0-or-later
 */

@define-color kusozako_primary_bg_color /*KUSOZAKO1_PRIMARY_BG_COLOR*/;
/*@define-color kusozako_primary_bg_color #8466FE;*/
@define-color kusozako_primary_fg_color /*KUSOZAKO1_PRIMARY_FG_COLOR*/;
/*@define-color kusozako_secondary_bg_color Grey;*/
@define-color kusozako_secondary_bg_color Grey25;
@define-color kusozako_secondary_fg_color White;
@define-color kusozako_highlight_bg_color /*KUSOZAKO1_HIGHLIGHT_BG_COLOR*/;
@define-color kusozako_highlight_fg_color /*KUSOZAKO1_HIGHLIGHT_FG_COLOR*/;
@define-color kusozako_osd_bg_color alpha(Black, 0.75);
@define-color kusozako_osd_fg_color White;
@define-color popover_fg_color @kusozako_primary_fg_color;
@define-color popover_bg_color @kusozako_primary_bg_color;

@define-color accent_color /*KUSOZAKO1_HIGHLIGHT_BG_COLOR*/;
@define-color accent_fg_color /*KUSOZAKO1_HIGHLIGHT_FG_COLOR*/;
@define-color accent_bg_color /*KUSOZAKO1_HIGHLIGHT_BG_COLOR*/;


.kusozako-osd
{
    color: @kusozako_osd_fg_color;
    background-color: @kusozako_osd_bg_color;
}

window
{
    border-radius: 0px;
    background-repeat: repeat;
    background-position: center;
    /*KUSOZAKO1_WINDOW_BACKGROUND_SIZE*/
    /*KUSOZAKO1_WINDOW_BACKGROUND_IMAGE*/
}

notebook > stack,
notebook > stack:not(:only-child) {
    background-color: Transparent;
}

notebook header
{
    background-color: alpha(@kusozako_primary_bg_color, 0.2);
}

notebook header.top :checked{
    background-color: alpha(White, 0.9);
    box-shadow: inset 0 -4px Transparent;
}

paned separator.wide {
    min-width: 8px;
    min-height: 8px;
    background-image: None;
    background-color: Transparent;
}

.kusozako-text-view-container
{
    border-radius: 6px;
    background-color: alpha(currentColor, 0.1);
}

.kusozako-text-view-container:focus-within
{
    border: 2px solid alpha(@accent_bg_color, 0.5);
}

.kusozako-text-view.view
{
    margin-top: 8px;
    margin-bottom: 8px;
    margin-left: 8px;
    margin-right: 8px;
    background-color: alpha(currentColor, 0.01);
}

.kusozako-primary-container
{
    color: @kusozako_primary_fg_color;
    background-color: @kusozako_primary_bg_color;
}

.kusozako-primary-widget,
.kusozako-primary-widget:backdrop
{
    background-image: None;
    box-shadow: none;
    border-radius: 4px;
    font-size: 105%;
    font-weight: normal;
}

.kusozako-primary-widget:active,
.kusozako-primary-widget:checked,
.kusozako-primary-widget:hover
{
    color: @kusozako_highlight_fg_color;
    background-color: @kusozako_highlight_bg_color;
}

.kusozako-secondary-container
{
    color: @kusozako_secondary_fg_color;
    background-color: @kusozako_secondary_bg_color;
}

.kusozako-content-area-heavy
{
    color: @kusozako_primary_fg_color;
    background-color: alpha(@kusozako_primary_bg_color, 0.8);
}

.kusozako-content-area-medium
{
    color: @kusozako_primary_fg_color;
    background-color: alpha(@kusozako_primary_bg_color, 0.5);
}

.kusozako-text-backlight
{
    color: @kusozako_primary_fg_color;
    text-shadow:
        3px 3px 10px @kusozako_primary_bg_color,
        -3px -3px 10px @kusozako_primary_bg_color,
        3px -3px 10px @kusozako_primary_bg_color,
        -3px 3px 10px @kusozako_primary_bg_color;
}

.kusozako-content-area
{
    background-color: alpha(@kusozako_primary_bg_color, 0.2);
}

.kusozako-primary-surface
{
    background-color: alpha(White, 0.9);
}

.kusozako-selected-row
{
    color: @kusozako_highlight_fg_color;
    background-color: @kusozako_highlight_bg_color;
}

/*FONT*/
.kusozako-large-title
{
    font-weight: 200;
    font-size: 36px;
}

.kusozako-backlight-button.image-button
{
    color: White;
    -gtk-icon-shadow:
        3px 3px 10px @kusozako_primary_bg_color,
        -3px -3px 10px @kusozako_primary_bg_color,
        3px -3px 10px @kusozako_primary_bg_color,
        -3px 3px 10px @kusozako_primary_bg_color;
}

.kusozako-backlight-button:active,
.kusozako-backlight-button:checked,
.kusozako-backlight-button:hover
{
    color: @kusozako_highlight_fg_color;
    background-color: @kusozako_highlight_bg_color;
}

.kusozako-icon-view-item
{
    border-radius: 12px;
    box-shadow:
        0 0 0 1px alpha(black, 0.03),
        0 1px 3px 1px alpha(black, 0.07),
        0 2px 6px 2px alpha(black, 0.03);
}

.kusozako-lower-rounded-label
{
    color: @kusozako_primary_fg_color;
    background-color: alpha(@kusozako_primary_bg_color, 0.2);
    border-radius: 0 0 12px 12px;
    text-shadow:
        3px 3px 10px @kusozako_primary_bg_color,
        -3px -3px 10px @kusozako_primary_bg_color,
        3px -3px 10px @kusozako_primary_bg_color,
        -3px 3px 10px @kusozako_primary_bg_color;
}

.kusozako-button-indicator-highlight
{
    box-shadow: inset 0 -4px Orange;
}

.kusozako-button-indicator-warning
{
    box-shadow: inset 0 -4px Red;
}
